@use '../abstract' as *;
// .btn {
//     padding: 1.5rem 2.5rem;
//     margin: 2rem 0;
//     border-radius: 1rem;
//     font-family: "Speedee-Bold";
//     @include flex(center, center);
//     line-height: 1;
//     transition: .5s ease;
//     text-transform: uppercase;
   
//     $colors: (
//     "primary" : $clr-primary,
//     "accent" : $clr-accent,
//     "neutral" : $clr-neutral,
//     "dark" : $clr-dark,
//     );

//     @each $key, $val in $colors {

//     &-#{$key} {
//         background: #{$val};
//         &:hover {
//             background: #{$val};
//             }
//         }
//     }
// }

.button {
    min-width: 200px;
    font-size: 16px;
    line-height: 1.34;
    font-family: "Montserrat", sans-serif, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
}

.button__primary {
    color: $clr-light;
    background-color: $clr-accent;
    background: $clr-accent;
}

.button__black__outline {
    color: #151515;
    background-color: transparent;
    border-color: #151515;
    padding: 16px 33px 16px;
    border: 2px solid;
}

.button__pipaluk {
    padding: 20px 33px 19px;
    position: relative;
    overflow: visible;
    border: none;
    z-index: 1;

    border-color: $clr-accent;
    border: 2px solid;
}


.button__pipaluk::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
}

.button__pipaluk::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-width: 2px;
    border-style: solid;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease 0s;
    transform: scale(1.05);
    will-change: transform;
    z-index: -1;

    border-color: #151515;
}

.button__md {
    min-width: 140px;
    font-size: 16px;
    line-height: 1.5;
    
}

