$clr-primary: #fff;
$clr-accent: #01b3a7;
$clr-light: #fff;
$clr-dark: #000;
$clr-gray: #e1e1e1;
$clr-dark-accent: #016760;

$sm: "576px";
$md: "768px";
$lg: "992px";
$xl: "1200px";
$xxl: "1600px";
$xxxl: "1669px";




