@use 'colors' as *; 

@mixin imgCover($ht:1px, $wd:100%){
    height: $ht;
    width:  $wd;
    object-fit: cover;
}

// XL
@mixin mediaQuery__xl($width:$xl) {
    @media (min-width:$width) {
        @content;
    }
}

// XXL
@mixin mediaQuery__xxl($width:$xxl) {
    @media (min-width:$width) {
        @content;
    }
}

// LG
@mixin mediaQuery__lg($width:$lg) {
    @media (min-width:$width) {
        @content;
    }
}

// MD
@mixin mediaQuery__md($width:$md) {
    @media (min-width:$width) {
        @content;
    }
}

// SM
@mixin mediaQuery__sm($width:$sm) {
    @media (min-width:$width) {
        @content;
    }
}

// XXXL
@mixin mediaQuery__xxxl($width:$xxxl) {
    @media (min-width:$width) {
        @content;
    }
}



// own utility for desktop first
// SM
@mixin mediaQueryMax__sm($width:$sm) {
    @media (max-width:$width) {
        @content;
    }
}

// XL
@mixin mediaQueryMax__xl($width:$xl) {
    @media (max-width:$width) {
        @content;
    }
}

// XXXL
@mixin mediaQueryMax__xxxl($width:$xxxl) {
    @media (max-width:$width) {
        @content;
    }
}

// XXL
@mixin mediaQueryMax__xxl($width:$xxl) {
    @media (max-width:$width) {
        @content;
    }
}

// LG
@mixin mediaQueryMax__lg($width:$lg) {
    @media (max-width:$width) {
        @content;
    }
}

// MD
@mixin mediaQueryMax__md($width:$md) {
    @media (max-width:$width) {
        @content;
    }
}



@mixin grid($cols: 1, $gap:1rem) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    grid-gap: $gap;
}

@mixin unevenGrid($val, $gap:1rem) {
    display: grid;
    grid-template-columns: $val;
    grid-gap: $gap;
}



@mixin absolute ($top:0,$right:0, $bottom:0,$left:0) {
    position: absolute;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;   
}

@mixin flex($justify:flex-start, $align: flex-start ) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
} 

